/* Here below you should make your changes */
@keyframes static {
    /* Insert your changes */
    /* Frame 1 Gradient: Black - Dark blue - Red - Magenta - Green - Cyan - Yellow */
    0% {
        background-image: url('resources/tv.png'),
        linear-gradient(to left, #000000 0%, #000000 14.2%, #0f0da9 14.2%,#0f0da9 28.4%, #9a1018 28.4%, #9a1018 42.6%, #9d12ac 42.6%, #9d12ac 56.8%, #54c735 56.8%,#54c735 71%, #53c0b5 71%, #53c0b5 85.2%, #b7bf3a 85.2%);
        background-position: 0 0, 70px 10px;
        background-size: contain, 300px 300px;
    }
    /* Frame 2 Gradient (100%): Same as above but backwards*/
    100% {
        background-image: url('resources/tv.png'),
        linear-gradient(to right, #000000 0%, #000000 14.2%, #0f0da9 14.2%,#0f0da9 28.4%, #9a1018 28.4%, #9a1018 42.6%, #9d12ac 42.6%, #9d12ac 56.8%, #54c735 56.8%,#54c735 71%, #53c0b5 71%, #53c0b5 85.2%, #b7bf3a 85.2%);
        background-position: 0 0, 70px 10px;
        background-size: contain, 300px 300px;
    }
}

@keyframes level-1 {
    /* Insert your changes */
    0% {
        background-position: 0 0, 0px 30px;
    }
    100% {
        background-position: 0 0, -4400px 30px;
    }
}

@keyframes move-cartridge {
    /* Insert your changes */
    70% {
        opacity: 100%; /* Not 100% accurate to the video but I preferred how this looks! */
    }
    100% {
        translate: 45px -230px;
        opacity: 0%;
    }
}

.intro {
    /* Insert your changes */
    background-image: url('resources/tv.png'), url('resources/intro.png');
    background-size: contain, 380px 260px;
    background-position: 0 0, 20px 30px;
}

.level-1 {
    /* Insert your changes */
    animation-name: level-1;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    background-repeat: no-repeat, no-repeat;
    background-image: url('resources/tv.png'), url('resources/stage1.png');
    background-size: contain, cover;
}

.static {
    /* Insert your changes */
    animation-name: static;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.move-cartridge {
    /* Insert your changes */
    animation-name: move-cartridge;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    background-image: url('resources/contra-cartridge.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#television {
    height: 350px;
    width: 500px;
    margin: 0 auto;
    background-repeat: no-repeat, no-repeat;
}

#nes-console {
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url('resources/nes.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#nes-cartridge {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 300px;
    bottom: 0px;
    background-image: url('resources/contra-cartridge.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* Perspective stuff here */
    transform:  perspective(3.25cm) rotateX(45deg) rotateZ(30deg);
}